.playlist {
    width: 90%;
    background: olivedrab;
    padding-top: 20px;
    margin: 0 auto;
}

.item_playlist {
    width: 80%;
    background: olive;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
    padding: 6px 0;
    margin: 0 auto 5px;
}